*{
    margin: 0;
    padding: 0;
}

.main
{
    height:100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box
{
    height: 480px;
    width: 380px;
    background: white;
    display: flex;
    /* align-items:flex-end; */
    justify-content: center;
    position: relative;
    
}

.button-box
{
    width: 200px;
    box-shadow: 0 0 20px 9px #ff61241f;
    /* height: 10px; */
    position: absolute;
    top: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;

}

.toggle-button
{
    cursor:pointer;
    padding: 10px 30px;
    background: transparent;
    border:none;
    outline: none;
    z-index: 1;
}

#btn
{
    left: 0;
    top: 0;
    position: absolute;
    background:linear-gradient( to right,#ff105f,#ffad06 );
    width: 105px;
    height: 95%;
    border-radius: 30px;
    transition: .5s;
    z-index: 0;
}